h1{
  font-family: "Courier New", Courier, monospace;
  font-size: 40px;
}
h1{color:darkslategrey;}
p {
    font-family: "Lucida Console", "Courier New", monospace;
    color:blue;
    font-size: 20px;
}
p1 {
  font-style: italic;
  color:darkred;
  font-size: 20px;
}
p2 {
  font-family: "Brush Script MT";
  color:rgb(87, 22, 91);
  font-size: 20px;
}
p3 {
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  color:rgb(99, 36, 15);
  font-size: 20px;
}